@model AmenityVM

<div class="w-100 card border-0 p-4">

    @* titlul paginii "Update Amenity" *@
    <div class="card-header bg-success bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class"text-white py-2">Update Amenity</h2>
            </div>
        </div>
    </div>

    @* Lista valorilor de adaugat pentru noua proprietate *@
    <div class="card-body border p-4">
        <form method="post" class="row">

            @*Preluam Amenity.Id din modelul UI pentru a-l parsa mai departe catre controller*@
            <input asp-for="Amenity.Id" hidden />

            <div class="p-3">

                @* ASP validations - ModelState from controllers*@
                @* <div asp-validation-summary="All"></div> *@
                <div class="form-floating py-2 col-12">
                    <select asp-for="@Model.Amenity.PropertyId" asp-items="@Model.PropertyList"
                            class="form-select border shadow">
                        <option disabled selected>--Select Property--</option>
                    </select>
                    <label asp-for="@Model.Amenity.PropertyId" class="ms-2"></label>
                    <span asp-validation-for="@Model.Amenity.PropertyId" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="@Model.Amenity.Name" class="form-control border shadow" />
                    <label asp-for="@Model.Amenity.Name" class="ms-2"></label>
                    <span asp-validation-for="@Model.Amenity.Name" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="@Model.Amenity.Description" class="form-control border shadow" />
                    <label asp-for="@Model.Amenity.Description" class="ms-2"></label>
                    <span asp-validation-for="@Model.Amenity.Description" class="text-danger"></span>
                </div>

                <div class="row pt-2">

                    @* Create button *@
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-success w-100">
                            <i class="bi bi-check-circle"></i> Update
                        </button>
                    </div>

                    @* Cancel button => ma duce inapoi la pagina de Index*@
                    <div class="col-6 col-md-3">
                        <a asp-controller="Amenity" asp-action="Index" class="btn btn-secondary w-100">
                            <i class="bi bi-x-circle"></i> Cancel
                        </a>
                    </div>

                </div>
            </div>
        </form>
    </div>

</div>

@* added javascript document reference*@
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}