@using BookingApp.Application.Common.Utility

<div class="w-100 card border-0 p-4">
    <div class="card-header bg-success bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class"text-white py-2">Booking List</h2>
            </div>
        </div>
    </div>
    <div class="card-body border p-4">
        <div class="d-flex justify-content-end pb-4 pt-2">
            <ul class="list-group list-group-horizontal-sm">
                <a style="text-decoration:none;" asp-controller="Booking" asp-action="Index"
                asp-route-status="@StaticDetails.StatusPending">
                    <li class="list-group-item"> @StaticDetails.StatusPending </li>
                </a>

                <a style="text-decoration:none;" asp-controller="Booking" asp-action="Index"
                   asp-route-status="@StaticDetails.StatusApproved">
                <li class="list-group-item"> @StaticDetails.StatusApproved </li>
                </a>

                <a style="text-decoration:none;" asp-controller="Booking" asp-action="Index"
                   asp-route-status="@StaticDetails.StatusCheckedIn">
                <li class="list-group-item"> @StaticDetails.StatusCheckedIn </li>
                </a>

                <a style="text-decoration:none;" asp-controller="Booking" asp-action="Index"
                   asp-route-status="@StaticDetails.StatusCompleted">
                <li class="list-group-item"> @StaticDetails.StatusCompleted </li>
                </a>

                <a style="text-decoration:none;" asp-controller="Booking" asp-action="Index"
                   asp-route-status="@StaticDetails.StatusCancelled">
                <li class="list-group-item"> @StaticDetails.StatusCancelled </li>
                </a>

            </ul>
        </div>
        <table id="tblBookings" class="table table-bordered table-striped">
            <thead>
                @* Numele coloanelor din tabel*@
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Check In Date</th>
                    <th>Nights</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

            </tbody>

        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/booking.js"></script>
}
