@model PropertyNumberVM

<div class="w-100 card border-0 p-4">

    @* titlul paginii "Create Property" *@
    <div class="card-header bg-success bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class"text-white py-2">Update Property Number</h2>
            </div>
        </div>
    </div>

    @* Lista valorilor de adaugat pentru noua proprietate *@
    <div class="card-body border p-4">
        <form method="post" class="row">

            @*Preluam PropertyNr din modelul UI pentru a-l parsa mai departe catre controller*@
            <input asp-for="PropertyNumber.PropertyNr" hidden />

            <div class="p-3">

                @* ASP validations - ModelState from controllers*@
                @* <div asp-validation-summary="All"></div> *@
                <div class="form-floating py-2 col-12">
                    <select disabled asp-for="@Model.PropertyNumber.PropertyId" asp-items="@Model.PropertyList"
                            class="form-select border shadow">
                        <option disabled selected>--Select Property--</option>
                    </select>
                    <label asp-for="@Model.PropertyNumber.PropertyId" class="ms-2"></label>
                    <span asp-validation-for="@Model.PropertyNumber.PropertyId" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="@Model.PropertyNumber.PropertyNr" disabled class="form-control border shadow" />
                    <label asp-for="@Model.PropertyNumber.PropertyNr" class="ms-2"></label>
                    <span asp-validation-for="@Model.PropertyNumber.PropertyNr" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="@Model.PropertyNumber.Type" disabled class="form-control border shadow" />
                    <label asp-for="@Model.PropertyNumber.Type" class="ms-2"></label>
                    <span asp-validation-for="@Model.PropertyNumber.Type" class="text-danger"></span>
                </div>

                <div class="row pt-2">

                    @* Create button *@
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-danger w-100">
                            <i class="bi bi-check-circle"></i> Delete
                        </button>
                    </div>

                    @* Cancel button => ma duce inapoi la pagina de Index*@
                    <div class="col-6 col-md-3">
                        <a asp-controller="PropertyNumber" asp-action="Index" class="btn btn-secondary w-100">
                            <i class="bi bi-x-circle"></i> Cancel
                        </a>
                    </div>

                </div>

            </div>

        </form>
    </div>

</div>

@* added javascript document reference*@
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}